:root {
    --primary: rgb(252, 252, 212);
    --secondary: rgb(10, 68, 61);
    --tertiary: #c3fcf2;
    --other: #649b92;
    --light-brown: #c3c39d;
    --dark-brown: #484838;
}

* {
    box-sizing: border-box;
    line-height: normal;
    font-family: 'poppins';

}

body {
    background-color: var(--primary);
    color: var(--secondary);
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin: 15px;
    padding: 15px;
    font-size: 50px;
    font-weight: bold;
    color: var(--secondary);
    border-bottom: solid 5px var(--other);
}

h2 {
    font-weight: 700;
}

/* Table Container  */

.table-container {
    width: 50%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    min-height: 50vh;
}

/* footer */

footer {
    margin-top: 20px;
    height: 35vh;
    width: 100%;
    background-color: var(--secondary);
    overflow: hidden;
}

.footer-container {
    display: flex;
    align-items: left;
    flex-flow: column;
    justify-content: center;
    width: 60%;
    height: 100%;
    margin: auto;
    color: var(--primary);
}


footer img {
    padding: 5px;
    margin: 10px;
    height: 100px;
    display: inline;
    transition: 0.3s;
}

footer img:hover {
    scale: 110%
}

footer a {
    text-decoration: none;
    color: var(--primary);
}

.home-link {
    transition: 0.3s;
    opacity: 0.7;
}

.home-link:hover {
    opacity: 1;
}