:root {
    --primary: rgb(252, 252, 212);
    --secondary: rgb(10, 68, 61);
    --tertiary: #c3fcf2;
    --other: #649b92;
    --light-brown: #c3c39d;
    --dark-brown: #484838;
}

* {
    box-sizing: border-box;
    line-height: normal;
    font-family: 'poppins';

}

body {
    background-color: var(--primary);
    color: var(--secondary);
}

h1 {
    text-align: center;
    margin: 15px;
    padding: 15px;
    font-size: 50px;
    font-weight: bold;
    color: var(--secondary);
    border-bottom: solid 5px var(--other);
}

h2 {
    font-weight: 700;
}

/* Table Container  */

.table-container {
    width: 50%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}