:root {
    --primary: rgb(252, 252, 212);
    --secondary: rgb(10, 68, 61);
    --tertiary: #c3fcf2;
    --other: #649b92;
    --light-brown: #c3c39d;
    --dark-brown: #484838;
}

* {
    box-sizing: border-box;
    line-height: normal;
    font-family: 'poppins';

}

body {
    background-color: var(--primary);
    color: var(--secondary);
}

h1 {
    text-align: center;
    margin: 15px;
    padding: 15px;
    font-size: 50px;
    font-weight: bold;
    color: var(--secondary);
    border-bottom: solid 5px var(--other);
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* GAME INFO STLYES */

p {
    font-size: 17px;
}

.info-container {
    width: 50%;
    margin: auto;
    text-align: center;
}

/* STYLE OF CONTAINER HOLDING GUESS / TIMER / DEL BUTTON  */

.components-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    text-align: center;
}

.hide {
    display: none;
}

#delete {
    background-color: var(--secondary);
    color: var(--primary);
    font-weight: bold;
    font-size: larger;
    margin: 2%;
    padding: 1%;
    border: solid 3px var(--secondary);
    transition: 0.4s;
}

#delete:hover {
    cursor: pointer;
    scale: 110%;
    background-color: rgb(219, 68, 68);
}

.timer-red {
    color: red;
}

/* STYLE OF DYNAMICALLY RENDERED BUTTONS AND CONTAINER  */

.pan-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 50%;
    margin: auto;
    text-align: center;
}

.pan-container button {
    background-color: var(--primary);
    color: var(--secondary);
    width: 9%;
    font-weight: bold;
    font-size: larger;
    margin: 1%;
    padding: 2%;
    border: solid 3px var(--secondary);
    transition: 0.4s;
}

.pan-container button:hover {
    cursor: pointer;
    scale: 110%;
    background-color: var(--tertiary);
}

.selected {
    scale: 110% !important;
    background-color: var(--other) !important;
}

.whitespace {
    min-height: 10vh;
}

/* CLASSES FOR ANIMATIONS ON OUTCOMES */

/* INTRO ANIMATION */

@keyframes pop-on {
    0% {
        scale: 10%;
        background-color: var(--other);
    }

    80% {
        scale: 110%;
        background-color: var(--tertiary);
    }

    100% {
        scale: 100%;
        background-color: var(--primary);
    }
}

.button-intro {
    animation: pop-on 1s 0s normal;
}

/* ANIMATION ON WIN */

@keyframes pop-color {
    0% {
        scale: 0%;
        background-color: var(--other);
    }

    20% {
        scale: 115%;
        background-color: var(--other);
    }

    40% {
        scale: 100%;
        background-color: var(--tertiary);
    }

    85% {
        scale: 100%;
        background-color: var(--tertiary);
    }

    90% {
        scale: 115%;
        background-color: var(--tertiary);
        color: var(--secondary);
        border: solid 3px var(--secondary);
    }

    100% {
        scale: 110%;
        background-color: rgb(74, 221, 74);
        border: solid 3px var(--primary);
        color: var(--primary);
    }
}

.selected-win {
    background-color: var(--other);
    animation: pop-color 3s linear 0s normal forwards;
}

.selected-win:hover {
    background-color: none;
    pointer-events: none;
}

/* ANIMATION ON INCORRECT */

@keyframes flash-red {
    0% {
        background-color: var(--other);
    }

    80% {
        background-color: rgb(219, 68, 68);
    }

    100% {
        background-color: var(--primary);
    }
}

.incorrect {
    animation: flash-red 0.5s 0s normal;
}


@keyframes pop-color-red {
    0% {
        scale: 0%;
        background-color: var(--other);
    }

    20% {
        scale: 115%;
        background-color: var(--other);
    }

    40% {
        scale: 100%;
        background-color: var(--tertiary);
    }

    85% {
        scale: 100%;
        background-color: var(--tertiary);
    }

    90% {
        scale: 115%;
        background-color: var(--tertiary);
        color: var(--secondary);
        border: solid 3px var(--secondary);
    }

    100% {
        scale: 110%;
        background-color: rgb(255, 0, 0);
        border: solid 3px var(--primary);
        color: var(--primary);
    }
}

.lose {
    animation: pop-color-red 3s linear 0s normal forwards;
}

/* START BUTTON */


@keyframes startPulsate {
    0% {
        background-color: var(--primary);
        scale: 100%;
    }

    50% {
        background-color: var(--tertiary);
        scale: 110%;
    }

    100% {
        background-color: var(--primary);
        scale: 100%;
    }
}

#start-game {
    width: auto;
    animation: startPulsate 1.5s linear 0s normal infinite;
}

/* MODAL */

.modal {
    width: 50%;
    text-align: center;
    border: solid 5px var(--secondary);
    overflow: scroll;
    color: var(--secondary);
}

.modal h1 {
    padding: 5px;
    margin: 5px
}

.modal form {
    margin: 10px;
    padding: 10px;
    color: var(--secondary);
}

.modal input {
    margin: 5px;
}

.modal button {
    margin: auto;
    padding: 5px;
    border-radius: 5%;
    font-size: 20px;
    font-weight: bolder;
    transition: 0.3s;
    color: var(--secondary)
}

.modal button:hover {
    scale: 110% !important;
    cursor: pointer;
    background-color: var(--tertiary) !important;
}

.modal div {
    display: flex;
    justify-content: space-between;
}

/* footer */

footer {
    margin-top: 20px;
    height: 35vh;
    width: 100%;
    background-color: var(--secondary);
    overflow: hidden;
    bottom: 0;
    left: 0;
    position: fixed;
}

.footer-container {
    display: flex;
    align-items: left;
    flex-flow: column;
    justify-content: center;
    width: 60%;
    height: 100%;
    margin: auto;
    color: var(--primary);
}


footer img {
    padding: 5px;
    margin: 10px;
    height: 100px;
    display: inline;
    transition: 0.3s;
}

footer img:hover {
    scale: 110%
}

footer a {
    text-decoration: none;
    color: var(--primary);
}

.scores-link {
    transition: 0.3s;
    opacity: 0.7;
}

.scores-link:hover {
    opacity: 1;
}

@media screen and (max-width: 1200px) {

    /* FOOTER */

    footer {
        height: 30vh;
        position: relative;
    }

    footer h2 {
        scale: 80%
    }

    .footer-container {
        align-items: center;
        width: 90%;
        margin: auto;
    }

    /* INFO SECTION */

    .info-container {
        width: 90%;
        display: none;
    }

    /* Components container */

    .components-container {
        width: 100%;
    }

    /* Panagram button container */

    .pan-container {
        width: 75%;
    }

    .pan-container button {
        width: 24%;
    }

    .modal {
        width: 95%;
    }

}