:root {
    --primary: rgb(252, 252, 212);
    --secondary: rgb(10, 68, 61);
    --tertiary: #c3fcf2;
    --other: #649b92;
    --light-brown: #c3c39d;
    --dark-brown: #484838;
}

* {
    box-sizing: border-box;
    line-height: normal;
    font-family: 'poppins';

}

body {
    background-color: var(--primary);
    color: var(--secondary);
}

h1 {
    text-align: center;
    margin: 15px;
    padding: 15px;
    font-size: 50px;
    font-weight: bold;
    color: var(--secondary);
    border-bottom: solid 5px var(--tertiary);
}

.info-container {
    width: 50%;
    margin: auto;
    text-align: center;
}

/* STYLE OF CONTAINER HOLDING GUESS  */

.solution-container {
    width: 50%;
    margin: auto;
    text-align: center;
}

#delete {
    background-color: var(--secondary);
    color: var(--primary);
    font-weight: bold;
    font-size: larger;
    margin: 2%;
    padding: 1%;
    border: solid 3px var(--secondary);
    transition: 0.4s;
}

#delete:hover {
    cursor: pointer;
    scale: 110%;
    background-color: rgb(219, 68, 68);
}

/* STYLE OF DYNAMICALLY RENDERED BUTTONS AND CONTAINER  */

.pan-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 50%;
    margin: auto;
    text-align: center;
}

.pan-container button {
    background-color: var(--primary);
    color: var(--secondary);
    width: 9%;
    font-weight: bold;
    font-size: larger;
    margin: 1%;
    padding: 2%;
    border: solid 3px var(--secondary);
    transition: 0.4s;
}

.pan-container button:hover {
    cursor: pointer;
    scale: 110%;
    background-color: var(--tertiary);
}

/* CLASSES FOR ANIMATIONS ON OUTCOMES */

@keyframes pop-on {
    0% {
        scale: 10%;
        background-color: var(--tertiary);
    }

    80% {
        scale: 110%;
        background-color: var(--other);
    }

    100% {
        scale: 100%;
        background-color: var(--primary);
    }
}

.button-intro {
    animation: pop-on 1s 0s normal;
}

.selected {
    scale: 110% !important;
    background-color: var(--other) !important;
}

/* ANIMATION ON WIN */

@keyframes pop-color {
    0% {
        scale: 0%;
        background-color: var(--tertiary);
    }

    20% {
        scale: 115%;
        background-color: var(--tertiary);
    }

    40% {
        scale: 100%;
        background-color: var(--other);
    }

    85% {
        scale: 100%;
        background-color: var(--other);
    }

    90% {
        scale: 115%;
        background-color: var(--other);
        color: var(--secondary);
        border: solid 3px var(--secondary);
    }

    100% {
        scale: 110%;
        background-color: rgb(74, 221, 74);
        border: solid 3px var(--primary);
        color: var(--primary);
    }
}

.selected-win {
    background-color: var(--other);
    animation: pop-color 3s linear 0s normal forwards;
}

.selected-win:hover {
    background-color: none;
    pointer-events: none;
}